set timeout=15
set default=0 # Set the default menu entry

menuentry "Tapix" {
   # The multiboot command replaces the kernel command
   # For multiboot v2, use the multiboot2 command
   multiboot2 /boot/kernel.bin
   boot
}